@use "../abstracts/colors" as *;

.button {
	border: none;
	transition: 0.25s;
	display: flex;
	align-items: center;
	border-radius: 28px;

	&:active {
		transition: 0.125s;
		transform: scale(1.025);
	}

	&-white {
		&-small {
			padding: 8px 12px;
			justify-content: center;
			background-color: #e6e6e6;
			color: $text-black-100;

			&:hover {
				background-color: #bfbfbf;
			}
		}
	}
}
