@use "../abstracts/colors" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;

.scope {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: $background-white;
	border: 2px solid $background-grey;
	border-radius: 12px;
	padding: 12px;
	transition: 0.25s;

	&:hover {
		border: 2px solid $background-white;
	}

	@media (width <= 600px) {
		width: 83vw;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 8px;
	}

	&__description {
		background-color: $background-grey;
		border-radius: 12px;
		position: relative;
		flex-grow: 2;
	}

	&__description-text {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: #{fluid(12px, 20px, $default-size-start, $default-size-end)};
	}

	&__list {
		padding-left: 0;
		margin-left: 15px;

		& li {
			margin-left: 10px;
		}

		&-icons {
			list-style-type: none;

			& li {
				position: relative;
				margin-left: 17px;
				margin-bottom: 4px;

				&::before {
					position: absolute;
					left: -32px;
					top: -3px;
				}
			}
		}

		&-checkmark li::before {
			content: url("~/src/assets/images/scope/checkmark-black.svg");
		}

		&-cross li::before {
			content: url("~/src/assets/images/scope/cross-black.svg");
		}
	}

	&__desktop-text {
		@media (width <= 600px) {
			display: none;
		}
	}

	&__image {
		border-radius: 12px;
		position: absolute;
		z-index: 1;
		inset: 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&--1 {
			background-image: url("~/src/assets/images/scope/scope-health.png");
			background-position: center center;
		}

		&--2 {
			background-image: url("~/src/assets/images/scope/scope-work.png");
			background-position: center top;
		}

		&--3 {
			background-image: url("~/src/assets/images/scope/scope-community.png");
		}

		&--4 {
			background-image: url("~/src/assets/images/scope/scope-education.png");
		}

		&--5 {
			background-image: url("~/src/assets/images/scope/scope-self.png");
		}
	}

	&__button {
		background-color: #333;
		padding: 8px 16px 8px 8px;
		border-radius: 36px;
		position: absolute;
		z-index: 2;
		right: 20px;
		bottom: 20px;
		display: flex;
		align-items: center;
		gap: 4px;
		transition: 0.25s;

		&--disabled {
			display: none;
		}

		@media (hover: hover) {
			&:hover {
				background-color: #595959;
			}
		}

		&:active {
			background-color: #595959;
		}

		&-image {
			width: #{fluid(20px, 28px, $default-size-start, $default-size-end)};
			height: #{fluid(20px, 28px, $default-size-start, $default-size-end)};
			pointer-events: none;
		}
	}
}
