@use "../abstracts/colors" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.education {
	padding: #{fluid(40px, 80px)} 0;
	background-color: $background-grey;

	&__container {
		@include container(1144px);

		display: flex;
		flex-direction: column;
		gap: #{fluid(32px, 64px)};

		@media (width <= 600px) {
			padding-left: 0;
			padding-right: 0;
		}

		& .header-text {
			padding: 0 24px;
		}
	}

	&__scopes {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 16px;
		height: #{fluid-reverse(1510px, 1219px, 600px, 1140px)};

		&::-webkit-scrollbar {
			display: none;
		}

		@media (width <= 600px) {
			padding: 0 24px;
			display: flex;
			overflow-y: scroll;
			height: #{fluid-reverse(530px, 330px, 280px, 600px)};
		}
	}

	&__scopes-column {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		gap: 16px;

		@media (width <= 600px) {
			grid-template-rows: 1fr;
			grid-auto-rows: unset;
			grid-template-columns: 1fr 1fr 1fr;

			&:first-child {
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}
