@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.header {
	background-color: $background-black;
	display: flex;
	border-bottom: 1px solid $border-black;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;

	@media (width <= 850px) {
		flex-direction: column;
	}

	&__container {
		@include container(1440px);
	}

	&__menu {
		&-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 24px 0;
		}

		display: flex;
		align-items: center;
		gap: #{fluid(24px, 48px, 800px, 1440px)};
	}

	&__logo-image {
		width: #{fluid(140px, 186px, 600px, 1440px)};
	}

	&__desktop-links {
		display: flex;
		gap: #{fluid(20px, 36px, 800px, 1440px)};
		padding: 12px;

		@media (width <= 850px) {
			display: none;
		}
	}

	&__mobile {
		&-links {
			display: none;
			border-top: 1px solid $border-black;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				display: none;
			}

			@media (width <= 850px) {
				display: flex;
			}
		}

		&-shadow {
			position: absolute;
			right: 0;
			bottom: 0;
			display: none;

			@media (width <= 850px) {
				display: block;
			}
		}
	}

	&__menu-link {
		text-decoration: none;
		color: $text-white-80;
		transition: 0.25s;

		&:hover {
			color: $text-white-100;
		}

		&--mobile {
			padding: 16px;
		}
	}
}
