@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.heroblock {
	height: 100vh;
	position: relative;

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__container {
		@include container(1440px);

		display: flex;
		height: 100%;
		justify-content: space-between;
		flex-direction: column;
		position: relative;
		z-index: 2;
	}

	&__main-text {
		display: flex;
		flex-direction: column;
		padding-top: 30vh;
	}

	&__text {
		font-size: #{fluid(26px, 70px, 320px, 1140px)};
	}

	&__second-line {
		margin-left: #{fluid(8px, 120px, 320px, 1140px)};
		display: flex;
		align-items: center;
		gap: #{fluid(8px, 20px, 320px, 1140px)};
	}

	&__arrow {
		position: relative;
		top: #{fluid(1px, 8px, 320px, 1140px)};
		height: #{fluid(16px, 32px, 320px, 1140px)};
		width: auto;
	}

	&__about {
		display: flex;
		gap: 8px;
		padding-bottom: 5vh;
		align-items: center;
		margin-right: auto;
		cursor: pointer;

		p {
			transition: 0.25s;
		}

		&:hover p {
			color: #fff;
		}
	}
}
