.text-black {
	&-10 {
		color: #d1d1d1;
	}

	&-30 {
		color: #b3b3b3;
	}

	&-40 {
		color: #999;
	}

	&-60 {
		color: #9c9c9c;
	}

	&-80 {
		color: #323131;
	}

	&-100 {
		color: #0f0f0f;
	}
}

.text-white {
	&-30 {
		color: #525252;
	}

	&-40 {
		color: #6b6b6b;
	}

	&-60 {
		color: #9c9c9c;
	}

	&-80 {
		color: #cecece;
	}

	&-100 {
		color: #fff;
	}
}

.brand-orange {
	color: #f63;
}

$brand-orange: #f63;
$text-black-10: #d1d1d1;
$text-black-30: #b3b3b3;
$text-black-40: #999;
$text-black-60: #9c9c9c;
$text-black-80: #323131;
$text-black-100: #0f0f0f;
$text-white-30: #525252;
$text-white-40: #6b6b6b;
$text-white-60: #9c9c9c;
$text-white-80: #cecece;
$text-white-100: #fff;
$background-white: #fff;
$background-grey: #f4f4f4;
$background-dark-grey: #0d0d0d;
$background-black: #080808;
$border-black: #373737;
$border-grey: #dddddf;
$border-white: #ededed;
